<!DOCTYPE html>
<html lang="en" ng-app="myApp" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Personal Carvalho Admin.</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<script src="../js/config/env.js"></script>
</head>

<body ng-controller="GmController" data-ng-init="init()">
<div id="wrapper">

    <!-- HEADER E MENU -->
    <div th:replace="header :: header">
    </div>

    <div id="page-wrapper">
        <h2 class="title-page">Painel de Grupos Musculares</h2>
        <hr/>
        <section class="novo-gm">
            <div class="container">
                <div class="row">
                    <form class="ng-invalid ng-invalid-required" ng-submit="submit(gm)" name="myForm" novalidate>

                        
						<div class="col-md-5">
							<input type="hidden" name="id" id="id" value="{{id}}" ng-model="gm.id">

							<div class="form-group">
                                <input class="ng-dirty ng-valid-parse ng-touched ng-valid-required ng-valid has-error" id="nome" type="text"  name="form.nome"  placeholder="Nome do Grupo Muscular" ng-model="gm.nome" required aria-invalid="true"/>
                                <div class="help-block ng-scope ng-inactive" ng-messages="myForm.nome.$error" ng-if="submitted">
                                    <span class="msg-error-form" ng-message="required">Por favor, insira o nome do grupo muscular.</span>
                                </div>
							</div>

						</div>

						<div class="col-md-5">
							<div class="form-group">

								<textarea class="ng-dirty ng-valid-parse ng-touched ng-valid-required ng-valid has-error" id="descricao" type="text" rows="5" name="form.descricao" cols="40" placeholder="Descrição" ng-model="gm.descricao" required aria-invalid="true"> </textarea>
                                <div class="help-block ng-scope ng-inactive " ng-messages="myForm.nome.$error" ng-if="submitted">
                                    <span class="msg-error-form" ng-message="required">Por favor, insira a descrição.</span>
                                </div>

							</div>
						</div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="container">
                                    <button type="submit" ng-click="myForm.$valid" value="Submit" class="btn-salvar btn btn-primary pc-color-bg">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="tabela">

            <div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Lista de Grupos Musculares
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table ng-table="tabelaGm" width="100%" class="table" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Nome do Grupo</th>
										<th>Descrição</th>                                        
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="_gm in lista">
                                    <tr class="odd gradeX">
                                        <td class="linha-nome">{{_gm.nome}}</td>                                       
                                        <td class="linha-descricao">{{_gm.descricao}}</td>
                                        <td>
                                            <div>
                                                <button ng-click="edit(_gm.id)" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></button>
                                                <button ng-click="delete(_gm.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
        </section>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="http://code.angularjs.org/snapshot/angular-messages.js"></script>
<script src="../js/angular-bootstrap-file-field.min.js"></script>

<!-- Sweet Alert
<script src="js/sweetalert.min.js"></script> -->

<script src="../js/app.js"></script>
<script src="../js/service/gm-service.js"></script>
<script src="../js/controller/gm-controller.js"></script>


</body>

</html>
