<!DOCTYPE html>
<html lang="en" ng-app="myApp" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BodyApp Admin.</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../js/config/env.js"></script>

</head>

<body ng-controller="PessoaController" data-ng-init="init()">

    <div id="wrapper">

        <!-- HEADER E MENU -->
        <div th:replace="header :: header">
        </div>

        <div id="page-wrapper">
            <h2 class="title-page">Painel de Pessoas</h2>
            <hr/>

            <button ng-click="new()" class="novo-item btn btn-primary pc-color-bg" data-toggle="modal" data-target="#myModal" ><i class="fa fa-plus"></i></button>

            <section class="tabela">

                <div class="container">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Lista de Pessoas
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table width="100%" class="table" >
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nome</th>
                                                <th>E-mail</th>
                                                <th>Telefone</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="pessoaFisica in lista track by $index">
                                            <tr class="odd gradeX">
                                                <td> <button ng-click="edit(pessoaFisica.id)" data-toggle="modal" data-target="#pessoaModal" class="btn btn-secondary btn-sm"><i class="fa fa-user"></i></button>  </td>
                                                <td class="linha-nome" >{{pessoaFisica.nome}}</td>
                                                <td class="linha-valor" >{{pessoaFisica.email}}</td>
                                                <td class="linha-descricao" >{{pessoaFisica.telefone}}</td>
                                                <td>
                                                    <div>
                                                        <button ng-click="edit(pessoaFisica.id)" data-toggle="modal" data-target="#myModal" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></button>
                                                        <button ng-click="delete(pessoaFisica.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>    
          </section>

            <!-- Modal -->
            <div class="modal fade" id="pessoaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Perfil do Pessoa</h4>
                        </div>
                        <div class="modal-body">
                            <h4 class="pc-color">Dados de Contato</h4>
                            <label>Nome:</label><p>{{pessoaFisica.nome}}</p>
                            <label>Email:</label><p>{{pessoaFisica.email}}</p>
                            <label>Telefone:</label><p>{{pessoaFisica.telefone}}</p>
                            <hr>
                            <h4 class="pc-color">Dados de Endereço</h4>
                            <label>Rua:</label><p>{{pessoaFisica.rua}}</p>
                            <label>Bairro:</label><p>{{pessoaFisica.bairro}}</p>
                            <label>Cidade:</label><p>{{pessoaFisica.cidade}}</p>
                            <label>Estado:</label><p>{{pessoaFisica.estado}}</p>
                            <label>País:</label><p>{{pessoaFisica.pais}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary pc-color-bg" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade form-pessoaFisica" id="myModal" >

                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <form ng-submit="PessoaController.submit()" name="myForm" novalidate>

                            <div class="modal-body">

                                <input type="hidden" name="id" id="id" value="{{id}}" ng-model="pessoaFisica.id">

                                <label>Dados de Contato</label>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input id="nome" type="text" name="form.nome" placeholder="Nome" ng-model="pessoaFisica.nome"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input id="email" type="email" name="form.email" placeholder="E-mail" ng-model="pessoaFisica.email" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input id="telefone" name="form.telefone" ng-model="pessoaFisica.telefone" phone-dir
                                               placeholder="(DDD) Telefone"
                                               pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}$" title='(99)X9999-9999)'/>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="celular" name="form.celular" ng-model="pessoaFisica.celular" phone-dir
                                               placeholder="(DDD) Celular"
                                               pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}$" title='(99)X9999-9999)'/>
                                    </div>
                                </div>

                                <label>Dados de Endereço</label>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input id="rua" name="form.rua" placeholder="Rua" ng-model="pessoaFisica.endereco" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <input id="bairro" name="form.bairro" placeholder="Bairro" ng-model="pessoaFisica.bairro" />
                                    </div>

                                    <div class="col-sm-2">
                                        <input id="estado" name="form.estado" placeholder="Estado" ng-model="pessoaFisica.uf" />
                                    </div>

                                    <div class="col-sm-4">
                                        <input id="cidade" name="form.cidade" placeholder="Cidade" ng-model="pessoaFisica.cidade" />
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" ng-click="submit(pessoaFisica)" class="btn btn-primary">Salvar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Sweet Alert -->
    <script src="../js/sweetalert.min.js"></script>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.mask.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jqBootstrapValidation.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>

	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="http://code.angularjs.org/snapshot/angular-messages.js"></script>
    <script src="../js/angular-bootstrap-file-field.min.js"></script>

    <script src="../js/app.js"></script>
    <script src="../js/controller/pessoaFisica-controller.js"></script>
    <script src="../js/service/pessoaFisica-service.js"></script>
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $('#bsalert').on('close.bs.alert', toggleAlert);
    </script>

</body>

</html>
